[tool.poetry]
name = "vietlott-data"
version = "0.1.0"
description = ""
authors = ["Viet Vu <vietvudanh@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
bs4 = "^0.0.1"
pandas = "^1.4.2"
lxml = "^4.9.0"
attrs = "^21.4.0"
cattrs = "^22.2.0"
click = "^8.1.3"
pendulum = "^2.1.2"
requests = "^2.28.2"

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
